.wrapper {
	padding: 1px 2px;
	margin: 1px;
}

.viewing-area span {
	color: #666;
	display: none;
}

/* max-width */
@media screen and (max-width: 300px) {
	.one {
		background: #F9C;
	}
	span.lt600 {
		display: inline-block;
	}
}

/* min-width */
@media screen and (max-width: 600px) {
	.two {
		background: #F90;
	}
	span.gt900 {
		display: inline-block;
	}
}

/* min-width & max-width */
@media screen and (min-width: 600px) and (max-width: 900px) {
	.three {
		background: #9CF;
	}
	span.bt600-900 {
		display: inline-block;
	}
}

/* max device width */
@media screen and (max-device-width: 480px) {
	.iphone, .android {
		background: #ccc;
	}
}

@media handheld {
    .hh {
        color:blue;
    }
}
